/* ********* */
/* @HOME */
/* ********* */


.contenido {
  .logotipo {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: $color_fondo;
    margin: 0 auto;
    padding: 0;
    flex-direction: row;
    padding: 30px 50px;
    align-content: center;
    
    img {
      width: 100px;
      height: auto;
    }
  }
}
